.post-create-modal {
  min-width: 500px;
  min-height: 500px;
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input#image {
      display: none;
    }
  }
}
