.comment-option-button {
  position: relative;
  cursor: pointer;
  align-self: flex-start;
  padding: 5px;
  display: flex;

  .more {
    transform: rotate(90deg);
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--backgroundColor-offWhite);
    // z-index: 100;

    li > * {
      padding: 5px;
      &:hover {
        background-color: var(--backgroundColor-black);
        color: var(--backgroundColor-white);
      }
    }

    button {
      width: 100%;
      height: 100%;
      text-align: start;
    }
  }
}
