.category-option-button {
  position: relative;

  svg {
    cursor: pointer;
  }

  .option-layer {
    position: absolute;
    top: 100%;
    margin-top: 7px;
    background-color: white;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);

    ul {
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      li {
        .delete-button {
          background-color: #d9534f;
          color: white;
          padding: 3px;
          white-space: nowrap;
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}
