.category-option-button {
  position: relative;

  svg {
    cursor: pointer;
  }

  .option-layer {
    position: absolute;
    top: 100%;
    margin-top: 7px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);

    ul {
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      li {
        .delete-button {
          background-color: var(--deleteColor-red);
          color: var(--foregroundColor-white);
          padding: 3px;
          white-space: nowrap;
        }
      }
    }
  }
}

body {
  &.light {
    .category-option-button {
      .option-layer {
        background-color: var(--backgroundColor-white);
      }
    }
  }
  &.dark {
    .category-option-button {
      .option-layer {
        background-color: var(--backgroundColor-offBlack);
      }
    }
  }
}
