.categorized-post-list-article {
  min-height: 100vh;
  // border: 1px dashed #aaa;
  padding: 1rem;

  .article-header {
    display: flex;
    justify-content: space-between;

    .breadcrumb {
      display: flex;
      align-items: center;
      gap: 10px;

      .category-create-button {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--createColor-blue);
        color: var(--foregroundColor-offWhite);
      }
    }

    .manager {
      display: flex;
      gap: 1rem;

      .post-create-button {
        border-radius: 5px;
        padding: 0 5px;
        background-color: var(--createColor-green);
        color: var(--foregroundColor-offWhite);
      }
    }
  }

  .content {
    margin-top: 1rem;

    .post-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .post-item {
        border: 1px solid;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
          .title {
            color: var(--hoverColor-blue);
          }
        }

        a {
          display: flex;
        }

        .details {
          flex: 3;
          padding: 1rem;

          div:first-of-type {
            display: flex;
            gap: 1rem;
            font-size: 12px;

            .author {
              white-space: nowrap;
            }
          }
        }

        .thumbnail {
          flex: 1;
          background-color: var(--tempColor-gray);
        }
      }
    }
  }
}
