.comment-option-button {
  position: relative;
  border: 1px solid red;
  cursor: pointer;
  align-self: flex-start;

  .more {
    transform: rotate(90deg);
  }

  .option-layer {
    position: absolute;
    top: 100%;
    margin-top: 7px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--backgroundColor-offWhite);
    z-index: 100;

    li > * {
      padding: 5px;
      &:hover {
        background-color: var(--backgroundColor-black);
        color: var(--backgroundColor-white);
      }
    }
  }
}
