.post-create-modal {
  min-width: 300px;
  min-height: 300px;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      background-color: aliceblue;
    }

    textarea {
      padding: 1rem;
    }

    input#image {
      display: none;
    }

    label[for="image"]:hover {
      cursor: pointer;
      color: green;
    }
  }
}
