.post-create-modal {
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: 1px solid;
    background-color: white;

    input {
      background-color: aliceblue;
    }

    textarea {
      padding: 1rem;
    }
  }
}
