.post-list-article {
  min-height: 100vh;
  flex: 1;
  border: 1px dashed #aaa;
  padding: 1rem;

  .article-header {
    display: flex;
    justify-content: space-between;

    .breadcrumb {
      display: flex;
      gap: 10px;

      .category-create {
        display: flex;
        gap: 10px;

        button {
          padding: 0 10px;
        }
      }
    }
  }

  .content {
    // border: 1px solid;
    // padding: 1rem;
    margin-top: 1rem;

    .post-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .post-item {
        border: 1px solid;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
          .title {
            color: #0072f5;
          }
        }

        a {
          display: flex;
        }

        .details {
          flex: 3;
          padding: 1rem;

          div:first-of-type {
            display: flex;
            gap: 1rem;
            font-size: 12px;

            .author {
              white-space: nowrap;
            }
          }
        }

        .thumbnail {
          flex: 1;
          background-color: gray;
        }
      }
    }
  }
}
