.post-article {
  min-height: 100vh;
  flex: 1;
  border: 1px dashed #aaa;
  padding: 1rem;

  .breadcrumb {
    display: flex;
    gap: 10px;
    border: 1px dashed #aaa;
  }

  .content {
    border: 1px dashed #aaa;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .content-header {
      padding: 1rem 0;
      border-bottom: 1px solid #efefef;
      small {
        font-size: 12px;
        display: flex;
        gap: 2rem;
      }
    }
  }
}
