.scroll-nav {
  position: sticky;
  top: calc(60px + 1rem);
  width: 250px;
  height: calc(100vh - 60px - 2rem);

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;

  border: 1px dashed #aaa;
  padding: 1rem;

  // @supports (position: sticky) {
  //   position: sticky;
  //   top: calc(60px + 1rem);
  // }

  // root
  ul.categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li.category {
      ul {
        max-height: 0;
        // transition: max-height 0.5s ease-out;
        transition: opacity 0.15s ease 0s, max-height 0.3s ease-in-out 0s;
        overflow: hidden;
        padding-left: 12px;
        margin-left: 16px;
        border-left: 1px solid #ebebeb;
      }
    }
  }

  button {
    padding: 5px;
    transition: transform 0.3s;
    background-color: transparent;
  }

  a {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
  }
}
