.post-create-page {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem;
      border: 1px solid;

      textarea {
        padding: 1rem;
      }
    }
  }
}

html {
  body.light {
    .post-create-page {
      form input {
        background-color: var(--backgroundColor-white);
      }
    }
  }
  body.dark {
    .post-create-page {
      form input {
        background-color: var(--backgroundColor-gray);
        &::placeholder {
          color: var(--color-white);
        }
      }
    }
  }
}
