.post-create-page {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem;
      border: 1px solid;

      input {
        background-color: aliceblue;
      }

      textarea {
        padding: 1rem;
      }
    }
  }
}
