// public
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// variables
:root {
  // light theme
  --backgroundColor: #fff;
  --backgroundColor-offBlack: #222;
  --textColor: #000;
  --textColor-offWhite: #eee;

  // dark theme
  --backgroundColor__darkTheme: #000;
  --textColor__darkTheme: #fff;
  --backgroundColor-white__darkTheme: #fff;
}

// theme
html {
  body {
    transition: all 1s;
    &.light {
      background-color: var(--backgroundColor);

      .theme-toggle {
        background-color: var(--backgroundColor);

        .moving-ball {
          background-color: var(--backgroundColor-offBlack);
          transform: translateX(10px);
        }
      }
    }
    &.dark {
      background-color: var(--backgroundColor__darkTheme);

      .theme-toggle {
        background-color: var(--backgroundColor__darkTheme);

        .moving-ball {
          background-color: var(--backgroundColor-white__darkTheme);
          transform: translateX(0);
        }
      }
    }
  }

  // body.light {
  //   background-color: var(--backgroundColor);
  // }

  // body.dark {
  //   background-color: var(--backgroundColor__darkTheme);
  // }
}

// layout
html {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 1s;
    z-index: 10000;

    .header-upper,
    .header-lower {
      height: 100%;
      max-width: 1500px;
      margin: auto;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-upper-wrapper,
    .header-lower-wrapper {
      background-color: var(--backgroundColor-offBlack);
      color: var(--textColor-offWhite);
    }

    .header-upper {
      height: 40px;
      gap: 1rem;
      overflow: hidden;
    }

    .header-lower {
      height: 20px;
    }

    a {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      white-space: nowrap;
      display: block;
    }
  }

  main {
    > section {
      max-width: 1200px;
      min-height: 100vh;
      padding: 1rem;
      border: 1px dashed;
      margin: auto;
      &:first-of-type {
        padding-top: calc(1rem + 60px);
      }
    }
  }

  footer {
    background-color: var(--backgroundColor-offBlack);
    color: var(--textColor-offWhite);
    padding: 3rem;

    > section {
      max-width: 1000px;
      width: 100%;
      // min-height: 20vh;

      // position
      position: relative;
      margin: auto;
      padding: 1rem;

      // decoration
      // border: 1px solid;

      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;

      border-top: 1px solid;

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

// elements
html {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol,
  li {
    list-style: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    cursor: pointer;
    border: none;
  }

  input {
    border: none;
    outline: none;
  }
}
