// public
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// variables
:root {
  --backgroundColor-black: #000;
  --backgroundColor-offBlack: #222;
  --backgroundColor-darkGray: #444;
  --backgroundColor-gray: #777;
  --backgroundColor-white: #fff;
  --backgroundColor-offWhite: #eee;

  --color-black: #000;
  --color-offBlack: #222;
  --color-white: #fff;
  --color-offWhite: #eee;

  --hoverColor-blue: #0072f5;
  --tempColor-gray: gray;
  --createColor-blue: #03a9f4;
  --createColor-green: mediumseagreen;
  --updateColor-coral: #ff7f50;
  --deleteColor-red: #d9534f;
}

// layout
html {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  main {
    > section {
      max-width: 1200px;
      min-height: 100vh;
      padding: 1rem;
      // border: 1px dashed #eee;
      margin: auto;
      &:first-of-type {
        padding-top: calc(1rem + 60px);
      }
    }
  }
}

// elements
html {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol,
  li {
    list-style: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    color: inherit;
    border: none;
  }
}

// layer
html {
  body {
    header {
      z-index: 10000;
    }
  }

  .loading {
    z-index: 99999999999;
  }

  // 검색창 아래의 자동완성창
  .base-Popper-root {
    z-index: 9999999;
  }
}
