* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  main {
    > section {
      max-width: 1200px;
      min-height: 100vh;
      padding: 1rem;
      margin: auto;
      &:first-of-type {
        padding-top: calc(1rem + 70px);
      }
    }
  }
}

html {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol,
  li {
    list-style: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    color: inherit;
    border: none;
  }
}
