// public
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// variables
:root {
}

// layout
html {
  body {
  }

  main,
  footer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    > section {
      width: 100%;
      height: 100%;
      max-width: 1000px;
      margin: auto;
    }
  }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 1s;
    overflow: hidden;

    .header-upper,
    .header-lower {
      // padding-left: 160px;
      // padding-right: 160px;
      height: 100%;
      max-width: 1500px;
      margin: auto;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-upper-wrapper {
      // height: 40px;
      background-color: #777;
    }

    .header-lower-wrapper {
      // height: 20px;
      background-color: #aaa;
    }
  }

  main {
    // padding-top: 60px; // 실제 헤더높이만큼 패딩을 준다.

    > section {
      min-height: 100vh;
      padding: 2rem;
      border: 1px dashed;
      &:nth-of-type(1) {
        min-height: calc(100vh - 60px);
      }
    }
  }

  footer {
    background-color: #333;
    color: #eee;
    padding: 3rem;

    > section {
      // size
      max-width: 1000px;
      width: 100%;
      // min-height: 20vh;

      // position
      position: relative;
      margin: auto;
      padding: 1rem;

      // decoration
      // border: 1px solid;

      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;

      border-top: 1px solid;

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

// elements
html {
  a {
    text-decoration: none;
  }

  ul,
  ol,
  li {
    list-style: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    cursor: pointer;
    border: none;
    padding: 10px;
  }

  input {
    border: none;
    outline: none;
  }
}
