.post-card {
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    .title {
      color: var(--hoverColor-blue);
    }
  }

  a {
    display: flex;
  }

  .details {
    flex: 3;
    padding: 1rem;

    div:first-of-type {
      display: flex;
      gap: 1rem;
      font-size: 12px;

      .author {
        white-space: nowrap;
      }
    }
  }

  .thumbnail {
    flex: 1;
    background-color: var(--tempColor-gray);
  }
}
