.nav {
  // rootCategories
  .categories {
    display: flex;
    .category {
      height: 100%;
      position: relative;
      padding: 0;
      &:hover .sub1-categories {
        display: block;
      }
    }
  }

  // sub1Categories
  .sub1-categories {
    display: none;
    position: absolute;
    top: 100%;
    .sub1-category {
      position: relative;
      &:hover .sub2-categories {
        display: block;
      }
    }
  }

  // sub2Categories
  .sub2-categories {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
  }

  ul.categories {
    padding: 0;
    li.category {
      padding: 0;

      > a,
      > button {
        padding: 0 1rem;
      }
    }

    ul {
      padding: 0;

      li {
        padding: 0;
        display: flex;

        a,
        button {
          padding: 1rem;
          flex: 1;
        }
      }
    }
  }
}

body.light {
  li.sub1-category,
  li.sub2-category {
    &:hover {
      background-color: var(--backgroundColor-offWhite);
    }
  }
}

body.dark {
  li.sub1-category,
  li.sub2-category {
    &:hover {
      background-color: var(--backgroundColor-darkGray);
    }
  }
}
