.pagination {
  height: 2rem;
  display: flex;
  justify-content: space-between;

  .prev,
  .next {
    padding: 0 5px;
  }

  .page-numbers {
    display: flex;
    gap: 1rem;

    .page-number {
      align-content: center;
      padding: 0 5px;
    }
  }

  .active {
    color: var(--hoverColor-blue);
  }
}
