.side-nav {
  // menu label
  a {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // arrow button
  button {
    height: 2rem;
    transition: transform 0.3s;
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
