.comment-create-form {
  // border: 1px solid red;
  display: flex;
  gap: 1rem;
  align-items: center;

  .author-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid green;
    align-self: flex-start;
  }

  .main {
    flex: 1;

    textarea {
      width: 100%;
      max-width: 100%;
      padding: 10px;
      border: 1px solid var(--color-offWhite);
      margin-bottom: 3px;
      resize: vertical;
    }
  }
}
