.post-article-edit-form {
  .form-body {
    .thumbnail {
      label {
        display: block;
        cursor: pointer;
      }
    }
    .content {
      width: 100%;
      resize: vertical;
    }
  }

  .form-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
